* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
}

.container h1 {
    font-size: 18px;
    text-align: center;
    display: inline;
    padding-right: 5px;
}

.container h2 {
    display: inline;
    color: hsl(0, 0%, 59%);
    font-size: 18px;
    font-weight: 400;
}

.container h3 {
    font-size: 14px;
    color: hsl(0, 0%, 59%);
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
}

.container {
    background-color: #fff;
    /* width: 350px;
    height: 400px; */
    max-width: 350px;
    display: block;
    margin: 200px auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

.bg-card {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.image-victor {
    border-radius: 50%;
    border: 5px solid #fff;
    position: relative;
    left: 122px;
    bottom: 50px;
}

.bg-top {
    position: absolute;
    z-index: -1;
    right: 950px;
    bottom: 500px;
}

.bg-bottom {
    position: absolute;
    z-index: -1;
    left: 950px;
    top: 400px;
}

.followers {
    max-width: 25%;
    margin-left: 20px;
    display: inline-block;
    padding: 12px;
}

.likes {
    max-width: 25%;
    margin-left: 30px;
    display: inline-block;
    padding: 12px;
}

.photos {
    max-width: 25%;
    margin-left: 30px;
    display: inline-block;
    padding: 12px;
}

div .black {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.line {
    background-color: hsl(0, 0%, 59%);
    height: 1px;
    margin-top: 35px;
}